#tasks {
    margin: 2px;
    list-style-type: none;
}

.task {
    margin: 2px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: navy;
}

.delete_btn {
    display: inline-block;
    color: red;
}

.attr {
    width: 150px;
    display: inline-block;
    border: 1px solid red;
}

.title {
    width: 200px;
}

.due_date {
}
