#tasks {
    margin: 2px;
    list-style-type: none;
}

.task {
    margin: 2px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: navy;
    background-color: LightSteelBlue;
}

.attr {
    width: 150px;
    display: inline-block;
}

.title {
    width: 200px;
}

.due_date {
}

.task .sorted {
    background-color: LightSteelBlue;
}