<html>
  <head>
    {% load staticfiles %}

    <script type="text/javascript" src="{% static 'kaseres/js/jquery.min.js' %}"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

    <script type="text/javascript" src="{% static 'kaseres/js/kaseres.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'kaseres/css/main.css' %}" />

  </head>

  <body>

    <h1>My Tasks</h1>

    <div>
      <button type="button" id="add_task">Add Task</button>
      <button type="button" id="toggle_details">Hide Details</button>
    </div>

    <span>Sort by:</span>
    {% for name, attr in sort_attrs %}
    <button type="button" class="attr attr sort_btn" id="sort_{{attr}}">
      {{name}}
    </button>
    {% endfor %}

    <div id="tasks_container">
      {% include "tasks/all_tasks.html" %}
    </div>

  </body>
</html>
