<li id="task_{{ task.id }}" class="task">

  <div>
    <div id="task_title_{{ task.id }}" class="attr title">
      {{ task.title }}
    </div>

    <div id="task_due_date_{{ task.id }}" class="attr due_date">

      <!--
	TODO: Change this from an input to plain-old text.
	Then do the same trick as with the title: on click, change into input.
	-->
      <input type="text"
	     id="task_due_date_input_{{ task.id }}"
	     class="task_due_date_input"
	     value="{{ task.due_date }}" />
    </div>

    <div id="task_priority_{{ task.id }}" class="attr priority">
      <select id="task_priority_select_{{ task.id }}"
	      class="task_priority_select" name="priority" size="1">
	{% for n,s in priorities %}
	<option
	   value="{{ n }}"
	   {% if task.priority == n %}selected="selected"{% endif %}>
	  {{ s }}
	</option>
	{% endfor %}
      </select>
    </div>

    <div id="task_is_completed_{{ task.id }}" class="attr is_completed">
      <input type="checkbox"
	     id="task_is_completed_checkbox_{{ task.id }}"
	     class="task_is_completed_checkbox"
	     name="is_completed"
	     {% if task.is_completed %}checked="checked"{% endif %} />
    </div>

    <button type="button" id="delete_{{ task.id }}" class="delete_btn">
      X
    </button>
  </div>

  <div id="task_details_{{ task.id }}" class="task_details">
    <p>{{ task.details }}</p>
  </div>

</li>
